<?php

return [
    'reaper' => [
        'wikiBasePath' => '/wiki/data',
        'discriminators' => [
            '/media_attic/' => 'media',
            '/pages/hots/heros' => 'heroes',
            '/pages/hots/maps' => 'maps',
            '/pages/hots/sticky_notes' => 'sticky_notes',
            '/pages/hots/bpm' => 'bpm',
        ]
    ],
];
